{% extends "layout.html" %}
{% block content %}
<form action="/signup" method="POST">
    <div style="align-items: center; ;padding: 10px; border: 10px">
        <div class="row">
            <div class="col">
                <label for="first_name">First Name </label>
                <input id="first_name" type="text" class="form-control" placeholder="First Name" name="first_name">
            </div>
            <div class="col">
                <label for="last_name">Last Name </label>
                <input id="last_name" type="text" class="form-control" placeholder="Last Name" name="last_name">
            </div>
            <div class="col">
                <label for="phone">Phone# </label>
                <input id="phone" type="tel" class="form-control" placeholder="Phone#" name="phone">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <label for="email_id">User ID (Email Id) </label>
                <input id="email_id" type="email" class="form-control" placeholder="Email ID" name="email_id" onfocusout="javascript: validateEmail()">
            </div>
            <div class="col">
                <label for="password">Password </label>
                <input id="password" type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="col">
                <label for="confirm_password">Confirm Password </label>
                <input id="confirm_password" type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-primary">Sign Up &gt; </button>
            </div>
            <div class="col">
                <button type="reset" class="btn btn-outline-dark">Reset</button>
            </div>
        </div>
    </div>
</form>

<form action="/login" method="get">
<div style="align-content: center">
            <button type="submit" class="btn btn-outline-secondary">Cancel</button>
        </div>
</form>

<script type="text/javascript">
    /*$(document).ready(function() {
        $("#email_id").focusOut(validateEmail($(this).textContent));

    })*/

    //var ctx = '${pageContext.request.contextPath}'

    function validateEmail() {
        $.ajax({
            method: 'GET',
            url: "/email/"+$('#email_id').val()
        }).then(function(data) {
            if(data.formatCheck == 'true'
                && data.smtpCheck == 'true') {
                alert("Valid Email ID");
            } else {
                alert("Invalid! Email ID");
            }
        });
    }

</script>

{% endblock %}